name: CD

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build Jar
        run: ./gradlew clean build -x test

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set Image Tag
        run: echo "IMAGE_TAG=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/studyhub:$IMAGE_TAG .

      - name: Push Docker Image (version)
        run: docker push ${{ secrets.DOCKER_USERNAME }}/studyhub:$IMAGE_TAG

      - name: Tag and Push latest
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/studyhub:$IMAGE_TAG \
                     ${{ secrets.DOCKER_USERNAME }}/studyhub:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/studyhub:latest
